In [1]:
print("Welcome to Week 01 Session 02")

Welcome to Week 01 Session 02

# **Chapter 02: Type Casting & Built-in Functions**

# 01. Type conversion: int(), float(), str(), list()

**Type Casting**

In [4]:
# Converting to int

# From float
print(int(3.9))         # 3 (decimal part truncated)

# From string
print(int("42"))        # 42
#print(int("42.5"))    # ValueError (invalid literal)

# From bool
print(int(True))        # 1
print(int(False))       # 0

3
42
1
0

In [5]:
# Converting to float

# From int
print(float(5))          # 5.0

# From string
print(float("3.14"))     # 3.14

# From bool
print(float(True))       # 1.0
print(float(False))      # 0.0

5.0
3.14
1.0
0.0

In [6]:
# Converting to str

# From int
print(str(101))      # '101'

# From float
print(str(3.1415))   # '3.1415'

# From bool
print(str(True))     # 'True'

101
3.1415
True

In [7]:
# Converting to bool

# From int
print(bool(0))          # False
print(bool(42))         # True

# From float
print(bool(0.0))        # False
print(bool(-1.5))       # True

# From string
print(bool(""))         # False (empty string)
print(bool("IIT"))      # True

# From collections (advanced preview)
print(bool([]))         # False
print(bool([1, 2]))     # True

False
True
False
True
False
True
False
True

In [11]:
# Converting to list

# String to list
text = "hello"
result = list(text)
print(result)  # ['h', 'e', 'l', 'l', 'o']

# Tuple to list
t = (1, 2, 3)
result = list(t)
print(result)  # [1, 2, 3]

# Set to list
s = {10, 20, 30}
result = list(s)
print(result)  # [10, 20, 30] (order may vary)

# Range to list
r = range(5)
result = list(r)
print(result)  # [0, 1, 2, 3, 4]

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]
[10, 20, 30]
[0, 1, 2, 3, 4]

# 02. Implicit vs Explicit

In [8]:
# Implicit type casting

a = 5        # int
b = 2.0      # float

result = a + b
print(result)
print(type(result))

7.0
<class 'float'>

In [ ]:
# Explicit type casting

x = "100"
y = int(x)   # Explicit cast from str to int

print(y + 5)
print(type(y))

105
<class 'int'>

# 03. Common built-in functions

In [7]:
# len()
a = (len("Python"))         # 6
b = (len(str(12345)))       # 5 → after converting int to str
print(a)
print(b)

6
5

In [1]:
# max()
a = max("abc123")        # 'c'
b = max(str(2183))       # '8' → characters compared as strings
print(a)
print(b)

c
8

In [3]:
# min()
a = min("a1b2")        # '1' → lowest Unicode
b = min(str(340))      # '0' → among '3', '4', '0'
print(a)
print(b)

1
0

In [4]:
# sum()
a = sum([10, 20, 30])          # 60
b = sum((1.5, 2.5, 3))         # 7.0
c = sum(range(1, 5))           # 1+2+3+4 = 10
d = sum([1, 2, 3], 10)         # 10 + 1 + 2 + 3 = 16 → uses 'start' value
print(a)
print(b)
print(c)
print(d)

60
7.0
10
16

In [3]:
# sorted()
a = sorted([3, 1, 4, 2])            
b = sorted(["banana", "apple"])    
c = sorted("code")                 
d = sorted([5, 2, 9], reverse=True)
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4]
['apple', 'banana']
['c', 'd', 'e', 'o']
[9, 5, 2]

In [5]:
# round()
a = round(3.75)         # 4
b = round(float("7.3")) # 7 → after type casting str to float
c = round(5.6789, 2)    # 5.68
print(a)
print(b)
print(c)

4
7
5.68

In [6]:
# abs()
a = abs(-10)             # 10
b = abs(float("-5.3"))   # 5.3 → after casting str to float
c = abs(bool(-1))        # 1 → bool(-1) is True → abs(True) = 1
print(a)
print(b)
print(c)

10
5.3
1

# 04. print() formatting: f-strings, .format()