In [1]:
print("Hello World")

Hello World

# 1. Python Syntax Rules: Indentation, Comments, Line Continuation

**Indentation**

In [2]:
# Correct indentation
if True:
    print("Condition is True")
    print("This is inside the if block")

Condition is True
This is inside the if block

In [3]:
# Incorrect indentation
if True:
print("Condition is wrong")

IndentationError: expected an indented block after 'if' statement on line 2 (770987336.py, line 3)

**Comments**

In [ ]:
# This is a single-line comment
print("Hello, my dear learners")

Hello, my dear learners

In [ ]:
"""
This is a multi-line comment.
It can span multiple lines.
"""
print("Testing multiline comments")

Testing multiline comments

**Line Continuation**

In [ ]:
# Implicit line continuation
numbers = [1, 2, 3,
           4, 5, 6]

total = (1 + 2 + 3 +
         4 + 5)
print("Numbers =", numbers)
print("Sum of numbers =", total)

Numbers = [1, 2, 3, 4, 5, 6]
Sum of numbers = 15

In [ ]:
# Explicit line continuation
message = "This is a long message that needs to be split " \
          "across two lines for readability"

print(message)

This is a long message that needs to be split across two lines for readability

# 2. Declaring Variables & Dynamic Typing

In [ ]:
age = 100               # Creates an integer variable
salary = 9898.70        # Creates a floating point variable
name = "Mr. India"      # Creates a string variable

print("Name:",name, "\nAge:", age, "\nSalary:",salary)

Name: Mr. India
Age: 100
Salary: 9898.7

**Variable Naming Rules**

In [ ]:
# Valid variable names

counter = 100
_count = 100
name1 = "Byomkesh"
name2 = "Feluda"
Age = 20
emp_salary = 100000

print(counter)
print(_count)
print(name1)
print(name2)
print(Age)
print(emp_salary)

100
100
Byomkesh
Feluda
20
100000

In [ ]:
# Invalid Variable Names

1counter = 100
$_count  = 100
zara-salary = 100000

print (1counter)
print ($count)
print (zara-salary)

SyntaxError: invalid decimal literal (2117202441.py, line 3)

In [ ]:
# Reassign Variable

print(name1)
name3 = name1
print(name3)

Byomkesh
Byomkesh

**Declaring Multiple Variables in One Line**

In [ ]:
# multiple assignments in a single line 
a, b, c = 1, 2, 3   
print(a, b, c)

1 2 3

In [ ]:
# Assigning the Same Value to Multiple Variables
x = y = z = 100
print(x, y, z)

100 100 100

**Common Pitfall**

In [7]:
x, y = 1, 2, 3   # Too many values to unpack

ValueError: too many values to unpack (expected 2)

In [8]:
x, y = 100       # Not iterable

TypeError: cannot unpack non-iterable int object

**Dynamic Typing**

In [ ]:
# Datatype of a variable can be checked using type() function.

x = 42        # int
print(type(x), id(x))

x = "Answer"  # str
print(type(x), id(x))

x = True     # bool
print(type(x), id(x))

<class 'int'> 105478871805128
<class 'str'> 133057171492560
<class 'bool'> 105478870766496

**Memory Model: Variables as References**

In [ ]:
a = [1, 2, 3, 12]   # creating a list
b = a
b.append(4)     # Adding new value at the end of the existing list
print(a)  

# Checking the object id
print(id(a))
print(id(b))

[1, 2, 3, 12, 4]
133057158732416
133057158732416

# 3. Primitive Data Types: int, float, str, bool

In [4]:
x = 10         # int
y = 3.14       # float
name = "IIT"   # str
status = True  # bool

In [1]:
# Interger type

a = 42
b = -19
c = 0

print(a, b, c)

42 -19 0

In [4]:
# Python allows arbitrary large integer
big = 9999999999999999999999999999
print("value =", big)

value = 9999999999999999999999999999

In [7]:
# Integer division with / returns float. 
# Use // for floor division.
print(5 / 2)  
print(5 // 2)

2.5
2

In [10]:
# Floating-point type
x = 3.14159
y = -0.01
z = 2.5e3  # Equivalent to 2500.0
print(x, y, z)

3.14159 -0.01 2500.0

In [16]:
# Precision Limitation
print(0.1 + 0.2)  
x = 0.1 + 0.2
print(format({0},x))

0.30000000000000004

TypeError: format() argument 2 must be str, not float

In [2]:
# String type
name = "IIT Bombay"
code = 'CS101'
print(name, code)

#Multiline strings use triple quotes
msg = """Welcome to
Python programming."""
print(msg)

IIT Bombay CS101
Welcome to
Python programming.

In [4]:
# String operations
greeting = "Hello"
print(greeting + " World")      # Concatenation
print(greeting * 3)             # Repetition
print(len(greeting))            # Length
print(greeting[1])              # Indexing

Hello World
HelloHelloHello
5
e

In [2]:
# String is immutable
s = "data"
s[0] = 'D'   #TypeError

TypeError: 'str' object does not support item assignment

In [4]:
# To change create a new string
s = "Data" + s[1:]
print(s)

Dataataata

In [5]:
# Boolean type
print(True == 1)   # True
print(False == 0)  # True

True
True

In [6]:
# Check bool value
a = 5 > 3       # True
b = 10 == 20    # False

print(a)
print(b)

True
False

**Type Casting**

In [8]:
# Converting to int

# From float
print(int(3.9))         # 3 (decimal part truncated)

# From string
print(int("42"))        # 42
print(int("42.5"))    # ValueError (invalid literal)

# From bool
print(int(True))        # 1
print(int(False))       # 0

3
42

ValueError: invalid literal for int() with base 10: '42.5'

In [9]:
# Converting to float

# From int
print(float(5))          # 5.0

# From string
print(float("3.14"))     # 3.14

# From bool
print(float(True))       # 1.0
print(float(False))      # 0.0

5.0
3.14
1.0
0.0

In [10]:
# Converting to str

# From int
print(str(101))      # '101'

# From float
print(str(3.1415))   # '3.1415'

# From bool
print(str(True))     # 'True'

101
3.1415
True

In [11]:
# Converting to bool

# From int
print(bool(0))          # False
print(bool(42))         # True

# From float
print(bool(0.0))        # False
print(bool(-1.5))       # True

# From string
print(bool(""))         # False (empty string)
print(bool("IIT"))      # True

# From collections (advanced preview)
print(bool([]))         # False
print(bool([1, 2]))     # True

False
True
False
True
False
True
False
True

In [1]:
# Implicit type casting

a = 5        # int
b = 2.0      # float

result = a + b
print(result)
print(type(result))

7.0
<class 'float'>

In [2]:
# Explicit type casting
x = "100"
y = int(x)   # Explicit cast from str to int

print(y + 5)
print(type(y))

105
<class 'int'>

# 4 type() and isinstance() Functions in Python

In [3]:
# type() function

a = 10
b = 3.14
c = "IIT"
d = True

print(type(a))   # <class 'int'>
print(type(b))   # <class 'float'>
print(type(c))   # <class 'str'>
print(type(d))   # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
# isinstance() function

x = 5

print(isinstance(x, int))        # True
print(isinstance(x, float))      # False
print(isinstance(x, (int, float)))  # True

True
False
True

# input() and Sample I/O

In [1]:
# Example 1: Basic input
name = input("Enter your name: ")
print("Welcome,", name)

Welcome, Mr. India

In [2]:
# Example 02: Calculator
x = float(input("Enter number 1: "))
y = float(input("Enter number 2: "))
print("Sum:", x + y)

Sum: 43.43

In [4]:
# print() Function â€“ Displaying Output
# print() sends output to the standard output stream (usually your screen). 
# It supports multiple arguments, and optional formatting using sep and end.

print("IIT", "Bombay", sep="-", end="!!!\n")

IIT-Bombay!!!

In [5]:
# f-string
name = "Mrinal"
score = 99.5
print(f"Hello, {name}! Your score is {score:.2f}")

Hello, Mrinal! Your score is 99.50

In [6]:
# Combining input() and print() in Interactive Programs

name = input("Enter your name: ")
roll = int(input("Enter your roll number: "))
marks = float(input("Enter your marks: "))

print(f"\nStudent: {name}")
print(f"Roll No: {roll}")
print(f"Marks: {marks:.2f}")

Student: Mr. India
Roll No: 213
Marks: 99.20